Source: lernstick-config
Section: misc
Priority: extra
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Uploaders: Gaudenz Steinlin <gaudenz@debian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://www.imedias.ch/lernstick/
Vcs-Browser: https://github.com/imedias/lernstick-config
Vcs-Git: https://github.com/imedias/lernstick-config.git

Package: lernstick-config
Architecture: all
Depends: ${misc:Depends}, live-config (>= 4), live-config (<< 5)
Description: Lernstick Live System Configuration Components
 live-config contains the components that configure a live system during the
 boot process (late userspace).
 .
 This package contains the additional Lernstick components.
