Source: lernstick-config
Section: misc
Priority: extra
Maintainer: Lernstick Team <lernstick.ph@fhnw.ch>
Uploaders: Ronny Standtke <ronny.standtke@fhnw.ch>, Gaudenz Steinlin <gaudenz@debian.org>
Build-Depends: debhelper (>= 9), config-package-dev, login
Standards-Version: 3.9.6
Homepage: http://www.imedias.ch/lernstick/
Vcs-Browser: https://github.com/imedias/lernstick-config
Vcs-Git: https://github.com/imedias/lernstick-config.git

Package: lernstick-config
Architecture: all
Depends: ${misc:Depends}, live-config (>= 5~), xmlstarlet, gfxboot, sqlite3, lernstick-archive-keyring
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Lernstick System Configuration
 This package contains the additional Lernstick live-config components and
 configuration files for the Lernstick system. It uses config-package-dev to
 divert config files where necessary.
