[Unit]
Description=Enable wifi and bluetooth
ConditionPathExists=/usr/sbin/rfkill
Before=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/rfkill unblock wifi
ExecStart=/usr/sbin/rfkill unblock bluetooth

[Install]
WantedBy=default.target
