[Unit]
Description=Unblocking wifi and bluetooth
ConditionPathExists=/usr/sbin/rfkill
Before=network.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/rfkill unblock wifi
ExecStart=/usr/sbin/rfkill unblock bluetooth

[Install]
WantedBy=network.target
