[Unit]
Description=Cleanup of temporary lernstick-config directory
DefaultDependencies=no
Before=basic.target

[Service]
ExecStart=/bin/rm -rf /tmp/lernstick-config/

[Install]
WantedBy=basic.target
