[Unit]
Description=Updating the xorg configuration (pre)
DefaultDependencies=no
Before=basic.target

[Service]
Type=oneshot
ExecStart=/lib/systemd/lernstick-xserver-xorg-pre

[Install]
WantedBy=basic.target
