[Unit]
Description=Creates the default system user (pre)
ConditionPathExists=!/var/lib/live/config/user-setup
DefaultDependencies=no
After=systemd-tmpfiles-setup.service
Before=basic.target

[Service]
Type=oneshot
ExecStart=/lib/systemd/lernstick-user-setup-pre

[Install]
WantedBy=basic.target
