[Unit]
Description=Yearly Btrfs snapshot

[Timer]
OnCalendar=yearly
Unit=btrfs_snapshots@yearly.service
Persistent=true

[Install]
WantedBy=multi-user.target
