[Unit]
Description=Updates the swapspace configuration
DefaultDependencies=no
After=lernstick-persistence.service
Before=swapspace.service

[Service]
Type=oneshot
ExecStart=/lib/systemd/lernstick-swapspace

[Install]
WantedBy=basic.target
