[Unit]
Description=Creates the default system user
ConditionPathExists=!/var/lib/live/config/user-setup
DefaultDependencies=no
Before=basic.target

[Service]
Type=oneshot
ExecStart=/lib/systemd/lernstick-user-setup

[Install]
WantedBy=basic.target
