[Unit]
Description=Updating the Lernstick's user locale settings
DefaultDependencies=no
After=lernstick-user-setup.service
Before=basic.target

[Service]
Type=oneshot
ExecStart=/lib/systemd/lernstick-locale

[Install]
WantedBy=basic.target
