[Unit]
Description=Weekly Btrfs snapshot

[Timer]
OnCalendar=weekly
Unit=btrfs_snapshots@weekly.service
Persistent=true

[Install]
WantedBy=multi-user.target
