#!/usr/bin/make -f

%:
	dh ${@} --with=config-package

override_dh_installsystemd:
	dh_installsystemd --name=btrfs_snapshots@
	dh_installsystemd --name=btrfs_snapshots_15min
	dh_installsystemd --name=btrfs_snapshots_5min
	dh_installsystemd --name=btrfs_snapshots_daily
	dh_installsystemd --name=btrfs_snapshots_hourly
	dh_installsystemd --name=btrfs_snapshots_monthly
	dh_installsystemd --name=btrfs_snapshots_weekly
	dh_installsystemd --name=btrfs_snapshots_yearly
	dh_installsystemd --name=lernstick-apt-fix
	dh_installsystemd --name=lernstick-cleanup-networkmanager-connections
	dh_installsystemd --name=lernstick-desktop
	dh_installsystemd --name=lernstick-early-nouveau-blacklist
	dh_installsystemd --name=lernstick-keyboard-configuration
	dh_installsystemd --name=lernstick-locale
	dh_installsystemd --name=lernstick-persistence
	dh_installsystemd --name=lernstick-proprietary-x11-settings-tools
	dh_installsystemd --name=lernstick-quirks-after-udev
	dh_installsystemd --name=lernstick-quirks-before-udev
	dh_installsystemd --name=lernstick-rfkill-enable
	dh_installsystemd --name=lernstick-swapspace
	dh_installsystemd --name=lernstick-update-bootmenu
	dh_installsystemd --name=lernstick-user-config
	dh_installsystemd --name=lernstick-user-setup
	dh_installsystemd --name=lernstick-xserver-xorg
